<div class="nested-fields">
  <div class="field">
    <%= f.label "Nome da Empresa", style: "display: block" %>
    <%= f.text_field :name %>
  </div>
 
  <div class="field">
    <%= f.label "Data de Inicio", style: "display: block" %>
    <%= f.date_field :date_start %>
  </div>
 
  <div class="field">
    <%= f.label "Data Final", style: "display: block" %>
    <%= f.date_field :date_final %>
  </div>
  <div class="field">
    <%= f.label "Descrição", style: "display: block" %>
    <%= f.text_area :description, size: "70x5" %>
  </div>
  <br>
</div>
