<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profile.email %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= profile.url %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= profile.phone %>
  </p>

</div>
