<div id="<%= dom_id profile %>">
  <p>
    <strong>Nome:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profile.email%>
  </p>

  <p>
    <strong>Url:</strong>
    <%= profile.url %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= profile.phone %>
  </p>

  <br>
  <h4>Experiência</h4>
  <br>
  <% profile.experiences.each do |experience|%>
    <p>
      <strong>Nome da Empresa:</strong>
      <%= experience.name %> 
    </p>
    <p>
      <strong>Data de Inicio:</strong>
      <%= post_date experience.date_start %>
    </p>
    <p>
      <strong>Data de Saída:</strong>
      <%= post_date experience.date_final %>
    </p>
    <p>
      <strong>Descrição:</strong>
      <%= experience.description %>
    </p>
  <%end%>
</div>
