<div id="<%= dom_id experience %>">
  <p>
    <strong>Name:</strong>
    <%= experience.name %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= experience.date_start %>
  </p>

  <p>
    <strong>Date final:</strong>
    <%= experience.date_final %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= experience.description %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= experience.profile_id %>
  </p>

</div>
